@page "/"

<PageTitle>Home</PageTitle>

<div class="home-hero">
<h1 style="text-align:center;font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;">Portfolio of Andre Maestas</h1>
<img src="images/Home/me.webp" alt="Profile Picture" class="profile-image" />
<br/><br/>
<p>Andre is a software developer specializing in Game and App Development utilizing technologies such as Unity, Unreal, .Net, and C#.
<br/><br/>
She has a BA in Digital Culture as well as a Certificate in Computer Gaming from Arizona State University.
<br/><br/>
Andre has a passion for games and new technology, and is always looking for new ways to learn and grow as a developer. She is always open to opportunities in the tech industry, and is excited to see where her career will take her next!
</p>
</div>

<div class="home-social" aria-label="Social links">
	<a class="social-link" href="https://github.com/asat13" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
		<img src="images/Home/github.svg" alt="GitHub" class="social-icon" />
	</a>
	<a class="social-link" href="https://www.linkedin.com/in/andremaestas/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
		<img src="images/Home/linkedin.svg" alt="LinkedIn" class="social-icon" />
	</a>
</div>

